/* styling for body */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5cb85c;

  /* Styling for .App-header and .content */
.App-header, .content {
  background-color: white; 
  color: black; 
  min-height: 100vh;
  width: 90%;
  max-width: 800px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Styling for elements marked as completed */
.completed, .task-box li.completed {
  text-decoration: line-through;
  color: #ccc; 
  opacity: 0.3; 
}

/* Form styling */
form, .task-write {
  margin-bottom: 20px;
  display: flex;
  width: 100%; 
}

input[type="text"], .task-write input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 5px; 
}

button, .delete-btn, .task-write button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ed4141; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul, .task-box {
  list-style-type: none;
  padding: 0;
}

li, .task-box li {
  margin: 10px 0;
  padding: 10px;
  background-color: #f7f7f7; 
  border-radius: 4px; 
}

li span, .task-box li span {
  margin-left: 15px; 
}
}