body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5cb85c;
}

.App-header, .content {
  position: fixed;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Header */
h1 {
  font-family: "Edu NSW ACT Foundation", cursive;
  margin-bottom: 40px;
}

/* Input */
.newTask, .task-write input {
  border: 2px solid #ddd;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 5px;
  flex-grow: 1;
}

.addButton, .task-write button {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-write {
  display: flex;
  width: 80%;
  margin: 0 auto 20px auto;
}

/* Task box styling */
.task-box {
  list-style: none;
  padding: 0;
  width: 86.7%;
  margin: 0 auto;
}

/* Task list item styling */
.task-box li {
  background-color: #efefef;
  margin-bottom: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

/* Task text styling */
.task-box li span {
  flex-grow: 1;
  margin: 0 30px;
  text-align: left;
  word-break: break-word;
}

.task-box li.completed span {
  text-decoration: line-through;
  opacity: 0.3;
  color: rgb(91, 91, 91);
}

.task-box li.completed {
  background-color: #bfbfbf;
}

/* Checkbox styling */
.task-box input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* Delete*/
.delete-btn {
  padding: 0 15px;
  border: none;
  border-radius: 4px;
  background-color: #ed4141;
  color: white;
  cursor: pointer;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
}

/* responsive */
@media (max-width: 768px) {
  .App-header, .content {
    width: 95%;
    padding: 10px;
  }

  body {
    font-size: 14px;
  }

  .task-box li {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .App-header, .content {
    width: 100%;
    border-radius: 0;
  }

  .task-box li span, .delete-btn {
    margin-top: 10px;
  }

  .task-box li span {
    margin-left: 0;
  }

  body {
    font-size: 12px;
  }

  .task-box li {
    font-size: 13px;
  }
}
